[Unit]
Description=Service for managing backups of B2 instances.
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/php -S 0.0.0.0:8000 -t /root/k2/src /root/k2/src/listener.php
WorkingDirectory=/root/k2/src
Restart=always
SyslogIdentifier=k2-listener
StandardOutput=append:/root/k2/logs/k2-listener-output.log
StandardError=append:/root/k2/logs/k2-listener-error.log

[Install]
WantedBy=multi-user.target
